html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1rem;
  color: #4d4d4d;
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  background-color: #000000;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

textarea {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    resize: none;
}
            
.app-title {
  font-size: 2.7rem;
  color: aliceblue;
  width: 100%;
  font-weight: 100;
  text-align: center;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.app-subtitle {
  font-size: 1.5rem;
  color: aliceblue;
  width: 100%;
  font-weight: 100;
  text-align: center;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.app-header {
  padding: 0.5rem 0 0.5rem 0;
}

.machine-component {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0rem 0 0rem;
}

.machine-component-header {
  background-color: #000;
  height: 2.5rem;
  color: aliceblue;
}

.machine-component-title {
  font-size: 1.5rem;
  width: 100%;
  font-weight: 100;
  text-align: center;
}

.machine-data-container {
  border: 0.15rem solid #ccc;
}

.machine-data-component {
  display: inline-block;
  vertical-align: middle;
  padding: 0 1.5rem 0 1.5rem;
}

.machine-data-footer {
  background-color: #000000;
  padding: 0.5rem 0 0.5rem 0;
}

.machine-data-footer-text {
  font-size: 1rem;
}


.memory-container {
  height: 100%;
}

.memory-area {
  margin: 0 auto;
}

.memory {
  display: inline-block;
  background-color: aliceblue;
  width: max-content;
  overflow: hidden;
}

.memory-row {
}

.memory-cell {
  display: inline-block;
  vertical-align: middle;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border: 0.5rem solid #000;
}


.stack-container {
  background: #000000;
  margin: 2rem 0 1em 0;
}

.stack-area {
  width: 100%;
  margin: 0px auto;
}

.stack {
  display: inline-block;
  background-color: aliceblue;
  width: max-content;
  overflow: hidden;
}

.stack-cell {
  display: block;
  vertical-align: middle;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border: 0.5rem solid #000;
}

.console-container {
  border: 0.15rem solid #ccc;
  margin: 2rem;
  padding: 1rem;
  width: 25rem;
}

.textarea {
  height: 100%;
  rows="42"; 
  cols="50"; 
  wrap="soft"; 
  spellcheck="false";  
  background: #fff;
}

.console-button-container {
  margin: 1rem 0 0 0;
}

.console-button {
  border: none;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin: 0 0.5rem 0 0.5rem;
}
