@font-face {
  /* Path: /SpaceMono-bold.ttf */
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/SpaceMono-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

:root {
  --background: #232634;
  --background2: #2c2f3f;
  --surface: #414559;
  --primary: #a6d189;
  --secondary: #85c1dc;
  --text: #c6d0f5;
  --code: #aae58c;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--background);
  color: var(--text);

  overflow-x: hidden;
}

.primary {
  color: var(--primary) !important;
}

.secondary {
  color: var(--secondary) !important;
}

hr {
  border: 0;
  border-top: 1px solid var(--surface);
}

a {
  color: var(--secondary);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--primary);
}

code {
  font-family: 'Space Mono', monospace;
  background: var(--surface);
  padding: 2px;
  border-radius: 0.2em;
}

pre {
  font-family: 'Space Mono', monospace;
  background: var(--surface);
  padding: 1em;
  border-radius: 0.2em;
  color: var(--code);

}

.other {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--background2);
  text-align: justify;
  text-justify: inter-word;
  padding: 3em;
}

.other > * {
  max-width: 800px;
  margin: 0 auto;
}